
<div *ngIf="videojuegoSeleccionado" class="detalle">
    <div class="titulo">
    <h2>Detalles del Juego:</h2>
  </div>
    <div class="datos">
      
      <div class="detalles">
        
        <div><strong>ID:</strong> {{ videojuegoSeleccionado.id }}</div>
        <div><strong>Título:</strong> {{ videojuegoSeleccionado.titulo }}</div>
        <div>
          <strong>Compañía:</strong> {{ videojuegoSeleccionado.compania }}
        </div>
        <div>
          <strong>Valoración:</strong> {{ videojuegoSeleccionado.valoracion }}
        </div>
      </div>
      <div class="imagen">
        <img [src]="videojuegoSeleccionado.imagen" />
      </div>
    </div>
    <div class="boton">
      <button (click)="limpiar()">Cerrar</button>
    </div>
  </div>
</div>